<h1>Editing Book</h1>

<%= render 'form', book: @book %>

<br>
<%= link_to 'Show', @book,  class: "btn btn-dark" %> 
<%= link_to 'Back', books_path,  class: "btn btn-dark"%>
<%= link_to 'Delete', @book , method: :delete, data: {confirm: 'Are you sure?'},  class: "btn btn-outline-danger"%>