




<!-- <div class = "book-background"> -->

<br>


<%= link_to 'New Book', new_book_path, class:"btn btn-dark", id: "New-Book-btn" %>


  
  
  <div class = "show-image">
    
  
    <% @books.each do |book| %>

      <%= link_to image_tag(book.image), book, id: "coolimage" %>
   
     <!--  <%= book.Name %>
      <%= book.user_id %> -->

     <% end %> 

  </div>
      


    
    
<!-- </div>
   -->



    
  



  

