/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
	margin: 0px;
	height: 100%;

nav.navbar {
	height: 50px;
}

h1 {
	font-size: 20px;
	padding-top: 50px;
	
}	


.Book-show-info {
	font-size: 9px;
}

.Book-show-buttons {
	font-size: 14px;
}

.form-control {
	padding: 5px;
	margin-top: 5px;
	font-size: 12px;
}

/*.Front-page {
	background-image: url("test1.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 1440px;

}*/

.Front-page {
  margin: 0px;
  height: 100%;
  background-color: red;
}

div.Sign-in {

	padding: 1000px;
}