
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
	margin-bottom: 50px;
}

/*.container {
	margin: 0;
	padding: 0;
}*/
 

/* THIS HERE IS TOP LEVEL NAV BAR*/

.nav-link {

	display: inline-blocks;	
	text-align: center;
	font-size: 12px;
}

.navbar-brand {

	font-size: 16px;
	text-align: center;
	justify-content: center;
}


/*------------------------------------------*/

.Sign-In-Container {

	margin-left: 10%;
	margin-top: 2%;
}

.Sign-Up-Container {

	margin-left: 10%;
	margin-top: 2%;
}


#user_email, #user_password, #user_password_confirmation, #user_current_password {

	width: 500px;
}

.Sign-Up-btn {

	margin-top: 20px;

}

.Edit-Profile-Container {
	margin-left: 10%;
	margin-top: 2%;

}
/*AÐAAAL -------------------------------------------------------------------*/

#New-Book-btn {

	display: flex;
	justify-content: center;
}


img {

	width: 10%;
	height: 10%;
	padding: 1%;

}

.show-image-btn{
	margin-top: 0%;
	margin-left: 15%;
	width: 12%;
}


.show-text-container {
	margin-left: 1%;
	color: white;
}

.Book-show-buttons {
	margin-top: 1%;
	margin-left: 1%;
}



/*----------------------------------------------------------------------------------*/





